# I WILL TRY TO MAKE A NAIVE BAYES ALGORITHM TO PREDICT CROP FROM SCRATCH HERE

In [1]:
import numpy as np
import pandas as pd
read = pd.read_csv("Crop_recommendation.csv")
read

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [2]:
print(read['label'].unique())
print(read.columns[0:len(read.columns)-1])

['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']
Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall'], dtype='object')

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from math import exp, sqrt, pi
import statistics
import seaborn as sb

def calculate_probability(x,mean,sd):
    exponent = exp(-0.5*((x-mean)/sd)**2)
    return ((1/(sd*sqrt(2*pi)))*exponent)
 
N = float(input("N"))
P = float(input("P"))
K = float(input(""))
temp = float(input("temperature"))
humidity = float(input("humidity"))
ph = float(input("pH"))
rainfall = float(input("Rainfall"))

data={}
for i in read['label'].unique():
    for col in read.columns[0:len(read.columns)-1]:
        list = []
        for k in range(len(read)):
            if read['label'][k] == i:
                list.append(read[col][k])
        if(col=='N'):
            input = N
        elif (col == 'P'):
            input=P
        elif (col=='K'):
            input = K
        elif (col == 'temperature'):
            input = temp
        elif (col == 'humidity'):
            input = humidity
        elif (col == 'ph'):
            input = ph
        elif (col == 'rainfall'):
            input = rainfall
            
        x = np.asarray(list)
        mean = statistics.mean(x)
        sd = statistics.stdev(x)
        value = calculate_probability(input, mean, sd)
        data[str(i)+str(col)] = value

print(data)

In [4]:
read['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [5]:
probabilityofanycrop= 100/(100*21)
probabilityofanycrop

0.047619047619047616

In [17]:
from math import log
Score = {}
value = log(probabilityofanycrop)
for i in read['label'].unique():
    for col in read.columns[0:len(read.columns)-1]:
        try:
            value+=log(data[str(i)+str(col)])
        except:
            value+=log(1)
    Score[i] = value
    value = log(probabilityofanycrop)
print(Score)

{'rice': -176.10156388714452, 'maize': -347.9854248143923, 'chickpea': -22.114780858201776, 'kidneybeans': -361.3806947834339, 'pigeonpeas': -339.74910995144523, 'mothbeans': -295.66792690728386, 'mungbean': -665.246252452925, 'blackgram': -404.1904028361584, 'lentil': -454.4492494088713, 'pomegranate': -540.0622814141187, 'banana': -385.8433197317381, 'mango': -312.7368800295102, 'grapes': -736.2005646482959, 'watermelon': -454.64011606097074, 'muskmelon': -448.71914072933055, 'apple': -686.7041356669262, 'orange': -377.8306938150608, 'papaya': -119.25423302808787, 'coconut': -708.7852085545927, 'cotton': -489.27713953489206, 'jute': -242.36843318998467, 'coffee': -254.2400585768499}

In [22]:
maximum = Score['rice']
for keys in Score:
    maximum = max(maximum,Score[keys])
for keys in Score:
    if Score[keys]==maximum :
        print(keys)

chickpea